.container {
  border: 2px solid var(--color-primary);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  display: flex;
  justify-content: space-between;
  padding: 2px;
  align-items: center;
  position: relative;
}

.icon {
  font-size: 20px;
}

.switcher {
  width: 26px;
  aspect-ratio: 1/1;
  background-color: var(--color-primary);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  cursor: pointer;
}